/*-------------------- Body --------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  /* background: radial-gradient(ellipse farthest-corner at center top, #cbf49a, #1ea623); */
  background-image: url("./imgs/1.jpg");
  background-repeat: no-repeat, repeat;
  /* background-size: 1300px; */
  color: #363c44;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
/*-------------------- Boarding Pass --------------------*/
.boarding-pass {
  position: relative;
  top: 40%;
  left: 63%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 10px;
  /* background: #fff; */
  /* border-radius: 12px; */
  /* box-shadow: 0 5px 30px rgba(0, 0, 0, .2); */
  /* overflow: hidden; */
  text-transform: uppercase;
 /*-------------------- Header --------------------*/
 /*-------------------- Cities --------------------*/
 /*-------------------- Infos --------------------*/
 /*-------------------- Strap --------------------*/
}
.boarding-pass small {
  display: block;
  font-size: 11px;
  color: #a2a9b3;
  margin-bottom: 2px;
}
.boarding-pass strong {
  font-size: 15px;
  display: block;
}
.boarding-pass header {
  background: linear-gradient(to bottom, #36475f, #2c394f);
  padding: 12px 20px;
  height: 53px;
}
.boarding-pass header .logo {
  float: left;
  width: 104px;
  height: 31px;
}
.boarding-pass header .flight {
  float: right;
  color: #fff;
  text-align: right;
}
.boarding-pass header .flight small {
  font-size: 8px;
  margin-bottom: 2px;
  opacity: 0.8;
}
.boarding-pass header .flight strong {
  font-size: 18px;
}
.boarding-pass .cities {
  position: relative;
}
.boarding-pass .cities::after {
  content: '';
  display: table;
  clear: both;
}
.boarding-pass .cities .city {
  padding: 20px 18px;
  float: left;
}
.boarding-pass .cities .city:nth-child(2) {
  float: right;
}
.boarding-pass .cities .city strong {
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
}
.boarding-pass .city small {
  margin-bottom: 0px;
  margin-left: 3px;
}
/* .boarding-pass .cities .airplane {
  position: absolute;
  width: 40px;
  height: 35px;
  top: 20%;
  left: 30%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: move 2.5s infinite;
  fill:#2c394f;
  background: url(https://cdn.ek.aero/downloads/ek/icons/icons/airplane.svg);
  background-size: cover;
} */


.boarding-pass .cities .airplane2 {
  position: absolute;
  width: 35px;
  height: 30px;
  top: 0%;
  left: 30%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: move 2.5s infinite;
  fill:#2c394f;
  background: url(https://cdn.ek.aero/downloads/ek/icons/icons/airplane.svg);
  background-size: cover;
  transform: rotate(90deg);
}


/* ....... */

.loading {
  font-size: 20px;
  font-weight: lighter;
  position: absolute;
  width: 200px;
  height: 30px;
  top: 65%;
  left: 53.3%;
  color: #666666;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(5,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

/* ....... */


@keyframes move {
  40% {
    left: 50%;
    opacity: 1;
 }
  100% {
    left: 70%;
    opacity: 0;
 }
}
.boarding-pass .infos {
  display: flex;
  border-top: 1px solid #666666;
}
.boarding-pass .infos .places, .boarding-pass .infos .times {
  width: 50%;
  padding: 10px 0;
}
.boarding-pass .infos .places::after, .boarding-pass .infos .times::after {
  content: '';
  display: table;
  clear: both;
}
.boarding-pass .infos .times strong {
  transform: scale(0.9);
  transform-origin: left bottom;
}
.boarding-pass .infos .places {
  background: #e2efe2;
  border-right: 1px solid #666666;
}
.boarding-pass .infos .places small {
  color: #97a1ad;
}
.boarding-pass .infos .places strong {
  color: #363c44;
}
.boarding-pass .infos .box {
  padding: 10px 20px 10px;
  width: 47%;
  float: left;
}
.boarding-pass .infos .box small {
  font-size: 10px;
}
.boarding-pass .strap {
  clear: both;
  position: relative;
  border-top: 1px solid #666666;
}
.boarding-pass .strap::after {
  content: '';
  display: table;
  clear: both;
}
.boarding-pass .strap .box {
  padding: 23px 0 20px 20px;
}
.boarding-pass .strap .box div {
  margin-bottom: 15px;
}
.boarding-pass .strap .box div small {
  font-size: 10px;
}
.boarding-pass .strap .box div strong {
  font-size: 13px;
}
.boarding-pass .strap .box sup {
  font-size: 8px;
  position: relative;
  top: -5px;
}
.boarding-pass .strap .qrcode {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
}
